* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;

  background-color: #111;
  color: #fff;
  font-family: monospace;
  font-size: 115%;
  position: relative;

  align-items: center;
  flex-direction: column;

  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
}

#title {
  text-align: center;
  font-size: 75%;
}

#image-grid {
  display: inline-block;
  height: 80%;
  width: 90%;

  border-radius: 8px;
  position: relative;
  outline: 2px solid #07f;
  overflow: hidden;

  cursor: move;
}

#image-grid * {
  position: absolute;
  pointer-events: none;
}

#image {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

#grid {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#menu,
#controls {
  left: 0;
  position: fixed;
  padding: 16px;
}

#menu {
  line-height: 24px;
  font-size: 300%;
  cursor: none;
}

#menu:hover + #controls,
#controls:hover {
  display: block;
}

#controls {
  background-color: #222a;
  display: none;
}

#controls > * {
  margin: 8px;
}

#controls div :nth-child(1) {
  display: inline-block;
  width: 40%;

  text-align: right;
}

#controls div :nth-child(2) {
  display: inline-block;
  width: 30%;

  text-align: center;
}

#controls div :nth-child(3) {
  display: inline-block;
  width: 10%;
}

#controls #actions button {
  width: calc(100% - 8px);
  height: 32px;
  margin: 4px;

  text-align: center;
  cursor: pointer;
}

#controls div input[type=color] {
  cursor: pointer;
}

#controls div input[type=range] {
  width: 90%;
  padding: 16px 0;
  margin: 0 5%;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (orientation: portrait) {
  #menu:hover + #controls,
  #controls:hover {
    width: 100%;
  }
}
